ion-toolbar {
    --background: #284B63; /* Fondo amarillo para la barra superior */
  }

#recover-container {
    padding: 20px;
    background-color: #000000;
    border-radius: 8px; 
    margin: 40px 20px; 
  }

  ion-button {
    color: white; 
  }