

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="contenido">  
    <img src="https://www2.duoc.cl/info/turismo/img/logo_white_duoc.png" alt="Cargando Logo De la Institucion">
    <h1>RegistrAPP</h1>
  </div>
  <div id="container">
    <!-- Botón estilizado para iniciar sesión -->
    <ion-button expand="full" (click)="goToLogin()">
      Iniciar Sesión
    </ion-button>
  </div>
</ion-content>

